<div class="main main-edit">
  <%=form_tag("/users/#{@user.id}/update",{multipart: true}) do%>
  <div class="mypage-edit">
    <div class="edit-section1">
      <div class="user-image">
        <%=image_tag("/user_images/#{@user.image_name}")%>
      </div>
      <p>プロフィール画像</p>
      <input name="image" type="file">
    </div>
    <div class="edit-section2">
      <input class="edit-name" name="name" placeholder="ニックネーム" value="<%=@user.name%>">
      <textarea id="profile" name="profile" placeholder="プロフィールに自己紹介を追加する"><%=@user.profile%></textarea>
      <input type="submit" value="送信">
    </div>
    </div>
    <% end %>
</div>