.tuuti{
    position: fixed;
    top:80px;
    right: 0;
    width: 100%;
    height: 90%;
    z-index: 100;
    overflow-y: auto;
}
.notice {
    position: relative;
    padding: 0 50px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    height: 100px;
 }
 .notice-content{
    margin: 35px 0 0 20px;
    text-align: left;
 }
 .notice-time{
    color: black;
    font-size: 14px;
    display: inline;
 }

 .notice img{
    margin: 20px 20px 0 20px;
    float: left;
 }
 

.notification-index-item{
    position: relative;
    padding: 0px 20px 0 0;
    height: 250px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.notification-index{
    grid-row: 1/2;
    grid-column: 2/6;
    line-height: 80px;
    margin: 10px;
    width: 65%;
    font-size: 20px;
    text-align: left;
}

.notification-item{
    position: relative;
    padding: 0px 20px 0 0;
    height: 120px;
    background-color: rgb(252, 242, 228);
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
}
.notification-name a{
    display: block;
}
.notification-name img{
    width: calc(55px + 100vw/25);
    height: calc(55px + 100vw/25);
    border-radius: calc(55px + 100vw/25);
}

.notification2 img{
    width: calc(35px + 100vw/25);
    height: calc(35px + 100vw/25);
    border-radius: calc(35px + 100vw/25);
}

.notification-index2{
    grid-row: 1/2;
    grid-column: 2/6;
    line-height: 40px;
    margin: 10px;
    width: 65%;
    text-align: left;
    font-size: 14px;
}

.notification-option{
    grid-row: 2/3;
    grid-column: 2/6;
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: end;
    gap: 100px;
}

.check{
    background-color: rgb(252, 242, 228) !important;
}
.notice a{
    display: inline;
}
@media(max-width:430px){
    .notification-index-item{
        display: block;
    }
    .notification-item{
        height: 160px;
        display: block;
    }
    .notification-name{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }
    .notification-option{
        position: absolute;
        bottom: 5px;
        right: 60px;
        gap: 70px;
    }
    .notification2{
        margin-top: 5px;
        margin-left: 5px;
    }
    .notice{
        font-size: 14px;
        padding: 0 20px;
    }
}