.mypage-image{
   width: 250px;
   height: 250px;
   object-fit: cover;
   border-radius: 250px;
}
.users-login,.users-new{
    background-color: rgba(0,0,0,0.1);
}
.users-login .container,.users-new .container{
    border: 1px solid black;
    box-shadow: 0 2px 6px black;
    padding: 20px;
    width: 30%;
    background-color: white;
}

.login,.signup{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 80px;
}

.input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}

.login-button,.signup-button{
    background-color: rgb(15, 187, 250);
    border: none;
    width: 77%;
    margin-top: 20px;  
    padding: 10px;
    font-size: 30px;
    color: white;
}

.user-image{
    margin: 10px 10px 0px 10px;
}

.mypage{
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 5fr 2fr 2fr 3fr;
}


.main-edit{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(0,0,0,0.4);
    z-index: 100;
}

.edit-content{
    position: fixed;
    padding: 0 2rem;
    top: 10%;
    right: 30%;
    width: 40%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
}

.edit-content-top{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-label{
    position: relative;
    background-color: #333;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-camera{
    position: absolute;
    color: #fff;
}

.image-file{
    display: none;
}

.edit-profile-name{
    border: 1px solid #333;
    border-radius: 10px;
    margin: 20px 0 5px 0;
    padding-bottom: 20px;
    height: 80px;
}

.edit-profile-name p{
    margin-left: 0.5rem;
    margin-bottom: 0;
    text-align: left;
}

.edit-name-form{
    border: none;
    background-color: #fff;
    width: 95%;
    font-size: 22px;
    outline: none;
    margin-top: 10px;
}

.name-caution{
    color: red;
    font-size: 12px;
    text-align: left;
    margin: 0.5rem;
}
.edit-profile-comment{
    border: 1px solid #333;
    border-radius: 10px;
    margin: 20px 0;
    padding-bottom: 20px;
    height: 300px;
}

.edit-profile-comment p{
    margin-left: 0.5rem;
    margin-bottom: 0;
    text-align: left;
}

.edit-profile-form{
    border: none;
    background-color: #fff !important;
    width: 95%;
    font-size: 22px;
    outline: none;
    resize: none;
    margin-top: 10px;
}

.fa-xmark{
    color: #333;
    cursor: pointer;
}

.xmark{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xmark:hover{
    background-color: rgb(0,0,0,0.2);
}

.edit-save-button{
    border: none;
    background-color: rgb(0,0,0,0.2);
    outline: none;
    border-radius: 30px;
    padding: 8px 12px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.mypage-wrap{
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap:30px
}

.flex{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.float{
    display: flex;
}

.stop button{
    display: block;
    border: none;
    background-color: mediumaquamarine;
    font-size: 15px;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 15px;
    margin: 20px 0;
}

.mypage-section1{
    grid-row: 1/4;
    grid-column: 1/2;
}

.mypage-section2{
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 0px 30px 20px 30px;
}

.name{
    font-size: large;
}

.profile-detail{
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    text-align: left;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    padding: 10px;
}
.train{
    width: 190px;
    margin: 0 auto;
}
.train-week{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.day{
    margin-right: 4px;
    text-align: center;
    width: 20px;
    font-size: 0.6rem;
}

.train-row{
    position: relative;
}

.train-month{
    position: absolute;
    left: -36px;
    width: 30%;
    height: 100%;
}

.train-month-2{
    font-size: 0.6rem;
    margin-top:40px;
}

.train-row-parant-child{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.train-row-child-child{
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 3px;
    margin-left: 4px;
    margin-bottom: 4px;
    background-color: #edf2fa;
}

.mypage-section3{
    grid-row: 1/5;
    grid-column: 2/5;
}


::placeholder{
    color: #999;
}
#profile{
    background-color: #eee;
    border: none;
    height: 200px;
}

label{
    display: block;
    margin-top: 10px;
}

.choice{
    margin-left: 31.5px;
}

.posts-mypage-post,.posts-mypage-reply,.posts-mypage-like{
    padding: 20px 30px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 6px #c1ced7;
    text-align: left;
    box-sizing: border-box;
    width: 99.5%;
}


.posts-mypage-item-post,.posts-mypage-item-reply,.posts-mypage-item-like{
    float: left;
    width: 33.3%;
    padding: 20px 0px;
    margin: 0px 0px;
    background-color: rgb(230, 228, 228);
    overflow: hidden;
    box-shadow: 0px 0px 2px #c1ced7;
    text-align: center;
    font-size: 14px;
}

.overflow-post,.overflow-reply,.overflow-fav{
    height: 550px;
    overflow-y: auto;
    margin-left: 30px;
}


.post-mypage{
    position: relative;
    padding: 20px;
    font-size: 24px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.posts-mypage-post,.posts-mypage-reply,.posts-mypage-like{
    position: relative;
    font-size: 14px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.post-mypage-content{
    grid-row: 1/2;
    grid-column: 1/6;
    text-align: left;
    line-height: 40px;
}


.mypage-make{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.follow{
    background-color: mediumaquamarine;
    color: white !important;
    padding: 5px 20px;
    border-radius: 20px;
}

.clear{
    clear: left;
}

.white{
    background-color: white;
}
.none{
    display: none;
}

.gray{
    background-color: rgba(0,0,0,0.03);
}

.low{
    background-color: #b0f5e5;
}

.medium{
    background-color: #35f2c6;
}

.medium-high{
    background-color: #0fbdb4;
}

.high{
    background-color: #077485;
}
.main-edit img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.4;
}

.train-item-trainning{
    width: 33.3%;
    padding: 20px 0px;
    margin: 0px 0px;
    background-color: rgb(127, 113, 255,0.6);
    overflow: hidden;
    box-shadow: 0px 0px 2px #c1ced7;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.fa-dumbbell{
    color: white;
}

.train-item-food{
    width: 33.3%;
    padding: 20px 0px;
    margin: 0px 0px;
    background-color: rgb(244, 108, 108,0.6);
    overflow: hidden;
    box-shadow: 0px 0px 2px #c1ced7;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.fa-bowl-food{
    color: white;
}

.train-item-sleep{
    width: 33.3%;
    padding: 20px 0px;
    margin: 0px 0px;
    background-color: rgb(217, 101, 249,0.6);
    overflow: hidden;
    box-shadow: 0px 0px 2px #c1ced7;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.fa-moon{
    color: white;
}

.train-item-trainning-recode{
    position: relative;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: rgb(127, 113, 255);
    overflow: hidden;
    box-shadow: 0px 2px 6px #c1ced7;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    color: white;
}

.train-item-food-recode{
    position: relative;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: rgb(244, 108, 108);
    overflow: hidden;
    box-shadow: 0px 2px 6px #c1ced7;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    color: white;
}

.train-item-sleep-recode{
    position: relative;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: rgb(217, 101, 249);
    overflow: hidden;
    box-shadow: 0px 2px 6px #c1ced7;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    color: white;
}

.train-recode,.food-recode,.sleep-recode{
    height: 360px;
    overflow-y: auto;
}
.train-option{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
  .train-form{
    background-color: #077485;
  }

  .train-form-select{
    float: left;
    padding: 10px;
    font-weight: bold;
    background-color: #077485;
    color: white;
    border-radius: 20px;
  }

  .train-form button{
    float: right;
    padding: 10px;
    font-weight: bold;
    background-color: #077485;
    color: white;
    border-radius: 20px;
    border-color: #35f2c6;
  }
  .train-form textarea{
    width: 95%;
    border: 3px solid #077485;
    margin-top:  0;
    margin-bottom: 10px;
  }

  .train-edit-date{
    text-align: left;
    font-size: 26px;
  }

  .train-edit-text{
    width: 70%;
    height: 400px;
    margin: 40px auto;
    background-color: #eee;
    border: none;
    font-size: 20px;
  }

  .dark{
    background-color: rgb(70, 180, 143) !important;
  }

  @media(max-width:980px){
    #profile{
        width: 250px;
        font-size: 16px;
    }
    .users-login .container,.users-new .container{
        border: 1px solid black;
        box-shadow: 0 2px 6px black;
        padding: 20px;
        width: 50%;
        background-color: white;
    }
    
    .login,.signup{
        font-size: 70px;
        font-weight: bold;
        margin-bottom: 80px;
    }

    .input{
        width: 80%;
        height: 40px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .main{
        padding: 80px 30px;
    }
    .mypage{
        width: 100%;
        height: 100%;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 250px 100px 100px 1fr;
    }
    .profile-detail{
        background-color: white;
        overflow: hidden;
        box-shadow: 0 2px 6px #c1ced7;
        text-align: left;
        width: 100%;
        height: 80px;
        margin: 0 auto;
    }
    .stop button{
        display: block;
        border: none;
        background-color: mediumaquamarine;
        font-size: 10px;
        color: white;
        width: 140px;
        height: 40px;
        border-radius: 15px;
        margin: 20px 0;
    }
    .train{
        width: 150px;
        margin: 0 auto;
    }
    .train-title{
        font-size: 12px;
    }
    .train-row-child-child {
        width: 16px;
        height: 16px;
        float: left;
        border-radius: 3px;
        margin-left: 4px;
        margin-bottom: 4px;
        background-color: #edf2fa;
    }
    .train-form textarea{
        width: 85%;
    }
}

@media(max-width:430px){
    .users-login .container,.users-new .container{
        border: 1px solid black;
        box-shadow: 0 2px 6px black;
        width: 90%;
        background-color: white;
        margin: 30px auto;
    }
    
    .login,.signup{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 80px;
    }

    .input{
        width: 90%;
        height: 40px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .mypage{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: block;
    }
    .main{
        padding: 80px 30px;
    }
    .overflow-post{
        margin: 0;
    }
    .posts-mypage-post,.posts-mypage-reply,.posts-mypage-like{
        padding: 5px 20px;
        height: 100px;
    }
    .choice{
        margin: 0;
    }
    .mypage-make{
        position: fixed;
        bottom: 20px;
        right: 30px;
    }

    .train-form{
        padding: 10px;
    }
    .train-form textarea{
        width: 80%;
        height: 250px
    }
    .train-item-trainning{
        width: 90%;
        padding: 20px 0px;
        margin: 0px 0px;
        background-color: rgb(127, 113, 255,0.6);
        overflow: hidden;
        box-shadow: 0px 0px 2px #c1ced7;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    .train-item-food{
        width: 10%;
        padding: 20px 0px;
        margin: 0px 0px;
        background-color: rgb(244, 108, 108,0.6);
        overflow: hidden;
        box-shadow: 0px 0px 2px #c1ced7;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    .train-item-sleep{
        width: 10%;
        padding: 20px 0px;
        margin: 0px 0px;
        background-color: rgb(217, 101, 249,0.6);
        overflow: hidden;
        box-shadow: 0px 0px 2px #c1ced7;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    .train-recode,.food-recode,.sleep-recode{
        height: 500px;
        overflow-y: auto;
    }
    .train-form-select{
        font-size: 10px;
    }
    .train-form button{
        font-size: 10px;
    }
    .train-edit-date{
        font-size: 20px;
      }
    .train-edit-text{
        font-size: 16px;
    }
}